
.headerPhoto{
    background-image: url("../../Assets/jacobsPhotos/pattern.jpg");
    background-position: top;
    background-repeat: no-repeat;
    contain: content;
    overflow: scroll;
   
  
  background-size: cover;
  height: 100vh
  
}
  /* home cards */





#ownerAccess{
    
    font-size: 9px; 
    color: white; 
    position: fixed;
    bottom: 1vh;
    left: 2%;
    
}
#ownerLinkContain{
    width: 100%;
    grid-column: 1/13;
   
}








@media only screen and (max-width: 870px) {
    
  

   
    

 
    
    
}