.DrawerRouterLink{
    
    text-decoration: none;
    color: white;
}

/* Material Ui Class to attach styling to drawer */

.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 {
    background: rgba(0, 0, 0, 0.616);
    backdrop-filter: blur(3px);
  }