#managePhotoContain {
  background-color: rgb(32, 32, 32);
  height: 100vh;
}
#managePhotoForm {
  background-color: rgb(59, 59, 59);
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  /*  */
}

.row11 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
#PhotoTitle {
  grid-column: 5/9;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Category {
  grid-column: 2/6;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ColorScheme {
  grid-column: 8/12;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#UploadedImage {
  grid-column: 2/6;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#widgetOpen {
  grid-column: 9/11;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img {
  width: 50%;
}

#textAr {
  grid-column: 3/11;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#submitButton {
  grid-column: 6/8;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

@media only screen and (max-width: 870px) {
  #UploadedImage {
    grid-column: 3/11;
    margin-top: 10px;
    
  }
  #widgetOpen {
    grid-column: 3/11;
    margin-top: 10px;

   
  }

  #submitButton {
    grid-column: 3/11;
    margin-top: 10px;
    
  }

  #PhotoTitle {
    grid-column: 3/11;
    contain: content;
    margin-top: 10px;
    
  }

  #Category {
    grid-column: 2/12;
    margin-top: 10px;
    
  }
  #ColorScheme {
    grid-column: 2/12;
   
    margin-top: 10px;
    
  }
}
