.contactContain{
    height: 100vh;
    background-color: black;
    background-image: url(../../Assets/jacobsPhotos/contactBackground.jpg);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

#contactForm{
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
    height: 30%;
}

#contactForm h2 {
    color: white;
}

.inputItem{
display: flex;
justify-content: center;
margin-top: 5%;
}

.inputItem2{
display: flex;
justify-content: space-between  ;
margin-top: 5%;
}

#sendersMessage{
resize: none;
width: 400px;
height: 150px;
}

.MuiButton-root{
    background: white !important; 
}

.contactInput{
    background-color: rgb(175, 175, 175);
    border: white 2px solid;
    border-radius: 5px;
}

#phoneNumber{
    color: white;
    margin-left: 10px;
}

#phonePosition{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
}

#locationPosition{
    position: absolute;
    bottom: 40px;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

#socialMedia{
    position: absolute;
    bottom: 10px;
    right: 10px;

}

.contactIcon{
    padding-bottom: 0px !important;
}

@media only screen and (max-width: 870px){
    #sendersMessage{
        width: 80vw;
        height: 30vh;
    }
}
