.contactContain{
    height: 100vh;
    background-color: black;
}
#contactForm{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    
}
.inputItem{
display: flex;
justify-content: center;
margin-top: 5%;
}
.inputItem2{
display: flex;
justify-content: space-between  ;
margin-top: 5%;
}
#sendersMessage{
resize: none;
width: 400px;
height: 150px;
}

.MuiButton-root{
    background: purple !important; 
   
}
.contactInput{
    background-color: rgb(175, 175, 175);
}

#phoneNumber{
    color: white;
    margin-left: 10px;
}
#phonePosition{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
}
#locationPosition{
    position: absolute;
    bottom: 40px;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}
#socialMedia{
    position: absolute;
    bottom: 10px;
    right: 10px;

}
.contactIcon{
    padding-bottom: 0px !important;
}

@media only screen and (max-width: 870px){
    #sendersMessage{
        width: 80vw;
        height: 30vh;
    }
}
